In [1]:
import pandas as pd
import numpy as np
import pickle as pk
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
a = pd.read_csv('test.csv')

In [3]:
df.shape

(330045, 7)

In [4]:
df.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [5]:
df.describe()

,ID,Reputation,Answers,Username,Views,Upvotes
count,330045.000000,3.300450e+05,330045.000000,330045.000000,3.300450e+05,330045.000000
mean,235748.682789,7.773147e+03,3.917672,81442.888803,2.964507e+04,337.505358
std,136039.418471,2.706141e+04,3.579515,49215.100730,8.095646e+04,3592.441135
min,1.000000,0.000000e+00,0.000000,0.000000,9.000000e+00,0.000000
25%,117909.000000,2.820000e+02,2.000000,39808.000000,2.594000e+03,8.000000
50%,235699.000000,1.236000e+03,3.000000,79010.000000,8.954000e+03,28.000000
75%,353620.000000,5.118000e+03,5.000000,122559.000000,2.687000e+04,107.000000
max,471493.000000,1.042428e+06,76.000000,175738.000000,5.231058e+06,615278.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330045 entries, 0 to 330044
Data columns (total 7 columns):
ID            330045 non-null int64
Tag           330045 non-null object
Reputation    330045 non-null float64
Answers       330045 non-null float64
Username      330045 non-null int64
Views         330045 non-null float64
Upvotes       330045 non-null float64
dtypes: float64(4), int64(2), object(1)
memory usage: 16.4+ MB

In [7]:
# There is no missing numbers in dataset.
# To make the ordinal encoding on tag
s= df['Tag'].unique()
s

array(['a', 'c', 'r', 'j', 'p', 's', 'h', 'o', 'i', 'x'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [9]:
df['Tag'] = lb.fit_transform(df['Tag'])

In [10]:
# Converting floats to integer
df['Reputation'] = df['Reputation'].astype(int)
df['Answers'] = df['Answers'].astype(int)
df['Views'] = df['Views'].astype(int)
df['Upvotes'] = df['Upvotes'].astype(int)

In [11]:
df.head()

       ID  Tag  Reputation  Answers  Username  Views  Upvotes
0   52664    0        3942        2    155623   7855       42
1  327662    0       26046       12     21781  55801     1175
2  468453    1        1358        4     56177   8067       60
3   96996    0         264        3    168793  27064        9
4  131465    1        4271        4    112223  13986       83

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330045 entries, 0 to 330044
Data columns (total 7 columns):
ID            330045 non-null int64
Tag           330045 non-null int32
Reputation    330045 non-null int32
Answers       330045 non-null int32
Username      330045 non-null int64
Views         330045 non-null int32
Upvotes       330045 non-null int32
dtypes: int32(5), int64(2)
memory usage: 11.3 MB

In [13]:
x = df.iloc[:,[0,1,2,3,4,5]].values
y = df.iloc[:,6].values

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,
                                                random_state=0)

In [15]:
# Feature Scaling
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [16]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
lr.intercept_

-374.8996264424788

In [18]:
lr.coef_

array([-7.71759811e-05,  7.16183195e+00,  3.50814157e-02, -3.86430541e+01,
       -2.64472345e-04,  2.05127790e-02])

In [19]:
lr_pred = lr.predict(x_test)

In [20]:
lr_pred

array([-306.85966182,  -11.70928272, -366.82654026, ..., -388.67990352,
       -399.22250222, -398.90003819])

In [21]:
from sklearn import metrics

In [22]:
print('MAE:', metrics.mean_absolute_error(y_test, lr_pred))
print('MSE:', metrics.mean_squared_error(y_test, lr_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, lr_pred)))

MAE: 600.9090344060554
MSE: 4870441.406691818
RMSE: 2206.9076570377424

In [23]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(lr, x_train, y_train,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [24]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [2103.35018995 3283.38620787 3877.60685437 3137.55644796 3221.3653884
 4205.26033723 2922.50168723 4578.38677003 2452.10559362 2930.25017017]
Mean: 3271.176964683739
Standard deviation: 724.0203000882457

In [25]:
# By Using Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()

In [26]:
dt.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [27]:
dt_pred = dt.predict(x_test)

In [28]:
dt_pred

array([68., 23.,  0., ...,  5.,  8.,  4.])

In [29]:
print('MAE:', metrics.mean_absolute_error(y_test, dt_pred))
print('MSE:', metrics.mean_squared_error(y_test, dt_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, dt_pred)))

MAE: 137.8174810936591
MSE: 1369816.3182082607
RMSE: 1170.3915234690744

In [30]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(dt, x_train, y_train,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [31]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [1086.92017645 2141.1273787  1939.07870556 1293.53759722 2316.80832588
 1739.12809193 1405.95571121 1443.54447416 1404.43726103 1682.05700793]
Mean: 1645.259473006249
Standard deviation: 372.1235784293561

In [32]:
# By using KNN
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()

In [33]:
knn.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [34]:
knn_pred = knn.predict(x_test)

In [35]:
knn_pred

array([ 5. , 48.8,  4.6, ...,  5.4, 75.6,  5.4])

In [36]:
print('MAE:', metrics.mean_absolute_error(y_test, knn_pred))
print('MSE:', metrics.mean_squared_error(y_test, knn_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, knn_pred)))

MAE: 158.51568014349428
MSE: 2104280.501707873
RMSE: 1450.6138361769038

In [37]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(knn, x_train, y_train,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [38]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [1674.6082594  2786.72554128 2545.08810349 1355.18074745 2383.06170293
 3230.04946945 2474.21516474 2830.31759634 1752.1495767  2312.00510965]
Mean: 2334.3401271449375
Standard deviation: 552.5159621758478

In [39]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [40]:
rf.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [41]:
rf_pred = rf.predict(x_test)

In [42]:
print('MAE:', metrics.mean_absolute_error(y_test, rf_pred))
print('MSE:', metrics.mean_squared_error(y_test, rf_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, rf_pred)))

MAE: 108.61583648439013
MSE: 777718.4112220042
RMSE: 881.883445372462

In [43]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(rf, x_train, y_train,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [44]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [ 803.83462214 1668.85634863 1301.4798609   663.44730117 1573.7799321
 1568.96885383 1248.45362511 2396.29931192 1086.80469552 1501.58737182]
Mean: 1381.3511923131232
Standard deviation: 464.669244036217

In [45]:
# Performing on test data
a.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [46]:
b = a.drop(columns=['ID'],axis=1)

In [47]:
b["Tag"] = b["Tag"].astype('category')
b["Tag"] = b["Tag"].cat.codes
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141448 entries, 0 to 141447
Data columns (total 5 columns):
Tag           141448 non-null int8
Reputation    141448 non-null float64
Answers       141448 non-null float64
Username      141448 non-null int64
Views         141448 non-null float64
dtypes: float64(3), int64(1), int8(1)
memory usage: 4.5 MB

In [56]:
upvotes_predictions_forest = rf_pred.tolist()
up_pred_forest

[31.6,
 21.3,
 6.0,
 29.0,
 29.0,
 951.5,
 16.1,
 214.4,
 28.2,
 16.1,
 3.6,
 221.5,
 35.6,
 26.1,
 262.6,
 21.8,
 33.0,
 11.8,
 3.7,
 11.6,
 35.4,
 30.2,
 2.8,
 12.3,
 4.8,
 9895.5,
 34.0,
 29.2,
 20.1,
 79.5,
 6.7,
 17.3,
 9.0,
 1432.8,
 244.6,
 3.2,
 122.7,
 39.1,
 18.9,
 11.5,
 78.2,
 39.8,
 317.2,
 4.1,
 235.7,
 5.0,
 18.3,
 30.5,
 11.4,
 12.6,
 75.9,
 3.9,
 17.9,
 39.4,
 7.7,
 187.7,
 60.0,
 73.0,
 2.7,
 30.9,
 157.8,
 26.3,
 3815.8,
 129.6,
 490.0,
 71.7,
 3.3,
 7.6,
 126.1,
 143.1,
 1510.2,
 21.9,
 14.9,
 279.8,
 52.0,
 127.1,
 1593.0,
 59.5,
 149.7,
 76.6,
 2.9,
 3.0,
 53.8,
 48.0,
 5.6,
 58.0,
 42.2,
 29.1,
 4.5,
 4.4,
 3.2,
 17.8,
 25.6,
 42.2,
 49.8,
 43.6,
 8.2,
 5.2,
 6.9,
 94.5,
 4.6,
 83.3,
 16.6,
 883.6,
 66.1,
 70.8,
 7.0,
 32.8,
 7.8,
 29.6,
 21.9,
 1113.0,
 385.5,
 644.8,
 311.5,
 215.5,
 6.2,
 22.3,
 15.7,
 33.3,
 21.7,
 39.7,
 4.7,
 34.1,
 609.4,
 12.6,
 429.1,
 34.1,
 395.3,
 26.3,
 23.9,
 157.3,
 15.8,
 176.3,
 586.1,
 3.4,
 123.9,
 11.1,
 17.8,
 3.7,
 3.6,
 2.8,
 14.1,
 6.6,
 29.8,
 246.1,
 9.3,
 77.9,
 41.1,
 8.2,
 1243.2,
 12.0,
 15.8,
 62.3,
 36.8,
 52.9,
 120.8,
 122.9,
 31.0,
 19.1,
 116.8,
 86.5,
 171.0,
 90.1,
 4.9,
 226.0,
 136.1,
 17.8,
 23.7,
 20.8,
 15.8,
 54.5,
 15.3,
 233.4,
 17.0,
 1074.2,
 42.6,
 345.4,
 33.3,
 27.1,
 1004.0,
 17.3,
 14.0,
 32.1,
 922.3,
 344.4,
 65.8,
 106.4,
 9.0,
 22.8,
 138.3,
 29.4,
 18.7,
 4.3,
 36.4,
 12.6,
 20.2,
 35.3,
 71.2,
 16.4,
 52.2,
 19.6,
 328.5,
 302.6,
 268.3,
 3.5,
 29.7,
 63.6,
 21.9,
 55.8,
 53.0,
 6.8,
 998.6,
 48.0,
 67.7,
 218.6,
 35.3,
 36.0,
 22.2,
 76.9,
 13.8,
 6.7,
 4.2,
 38.0,
 205.3,
 3.0,
 8.2,
 36.7,
 50.3,
 122.0,
 31.4,
 77.8,
 73.3,
 2877.2,
 224.8,
 41.8,
 75.8,
 28.4,
 14.9,
 910.3,
 96.3,
 57.9,
 4.6,
 1.3,
 930.2,
 20.2,
 174.5,
 390.6,
 25.3,
 37.9,
 87.3,
 1.0,
 81.1,
 11.3,
 336.4,
 16.1,
 5.7,
 2.9,
 7.3,
 226.7,
 299.0,
 1.7,
 53.1,
 24.3,
 60.4,
 24.7,
 22.2,
 94.1,
 21.3,
 21.2,
 2.5,
 12.8,
 24.0,
 39.8,
 33.7,
 358.4,
 14.0,
 22.9,
 4.9,
 348.5,
 18.2,
 65.3,
 15.4,
 19.1,
 21.7,
 251.5,
 87.2,
 334.8,
 23.9,
 40.4,
 20.3,
 10.5,
 8.0,
 8.0,
 50.0,
 113.7,
 14.2,
 28.0,
 76.0,
 148.5,
 71.1,
 2.8,
 91.3,
 84.6,
 58.6,
 122.0,
 15.0,
 152.9,
 19.2,
 6.1,
 23.9,
 303.7,
 40.5,
 121.1,
 10.5,
 118.0,
 152.1,
 15.3,
 28.0,
 65.3,
 5.9,
 13.0,
 6.2,
 4.2,
 29.1,
 67.0,
 12.8,
 92.1,
 706.1,
 477.7,
 37.5,
 190.1,
 147.4,
 19.3,
 26.6,
 33.3,
 1.4,
 13.4,
 42.7,
 40.0,
 175.9,
 62.3,
 26.8,
 13.4,
 198.5,
 223.5,
 14.5,
 3.9,
 4.1,
 13.4,
 12.0,
 686.6,
 13.6,
 12.5,
 353.4,
 21.3,
 19.0,
 25.1,
 31.4,
 83.9,
 6.4,
 9.0,
 9.4,
 1875.8,
 8.0,
 4.8,
 35.5,
 275.4,
 204.5,
 78.7,
 10.1,
 5.5,
 9.4,
 395.4,
 10.3,
 22.1,
 16.4,
 26.8,
 37.6,
 33.6,
 6.1,
 34.0,
 40.9,
 5.5,
 22.0,
 11.2,
 215.3,
 4.0,
 40.1,
 20.2,
 12.5,
 19.5,
 400.9,
 79.0,
 11.9,
 15.0,
 20.4,
 9.8,
 243.9,
 75.7,
 33.2,
 13.4,
 170.1,
 276.2,
 4.3,
 16.9,
 6.3,
 83129.3,
 87.3,
 4.3,
 109.8,
 70.8,
 35.6,
 134.3,
 378.0,
 260.8,
 1235.0,
 5.3,
 12.3,
 29.1,
 348.0,
 3.5,
 35.3,
 6.0,
 744.2,
 120.2,
 7.8,
 24.1,
 2.5,
 88.9,
 18.4,
 37.4,
 49.3,
 3.6,
 221.5,
 52.4,
 355.9,
 111.7,
 2283.0,
 70.7,
 2130.6,
 13.1,
 9.3,
 2.9,
 147.9,
 34.7,
 67.1,
 5.3,
 35.5,
 86.0,
 17.3,
 398.4,
 26.4,
 36.6,
 9.4,
 112.8,
 237.4,
 11.8,
 20.4,
 2156.9,
 64.4,
 3.6,
 4.7,
 0.6,
 192.5,
 32.4,
 2.6,
 60.0,
 55.0,
 9.8,
 303.0,
 45.2,
 19.7,
 8.8,
 131.4,
 5.9,
 18.6,
 326.5,
 230.4,
 595.6,
 257.2,
 14.3,
 8.0,
 25.4,
 12.6,
 17.9,
 141.8,
 24.6,
 838.4,
 23.3,
 89.5,
 132.0,
 40.2,
 3.7,
 46.6,
 30.2,
 267.2,
 121.9,
 39.2,
 89.0,
 36.4,
 147.8,
 20.2,
 49.3,
 32.4,
 6.2,
 201.6,
 60.4,
 2.4,
 171.4,
 16.7,
 342.8,
 3.1,
 16.3,
 15.0,
 26.2,
 8.8,
 19.1,
 54.0,
 169.7,
 8.5,
 39721.2,
 714.1,
 25.8,
 139.9,
 66.0,
 19.9,
 286.5,
 8.6,
 41.6,
 467.4,
 846.6,
 250.5,
 13.0,
 132.6,
 39.6,
 30.2,
 105.6,
 0.9,
 126.2,
 29.5,
 217.0,
 17.7,
 1039.6,
 5.1,
 9.1,
 11.1,
 1174.9,
 79.3,
 131.0,
 18.4,
 133.9,
 8.6,
 9.6,
 91.5,
 3.2,
 74.4,
 12.5,
 235.8,
 1.4,
 35.8,
 1352.1,
 17.9,
 18.1,
 46.9,
 21.4,
 122.4,
 15.5,
 72.2,
 101.4,
 2794.5,
 452.8,
 22.1,
 6.3,
 5082.8,
 48.9,
 2.3,
 21.9,
 40.8,
 74.0,
 25.9,
 14.7,
 416.4,
 77.3,
 49.8,
 195.6,
 2821.7,
 195.0,
 871.2,
 357.6,
 20.0,
 90.7,
 19.5,
 55.7,
 1831.6,
 7.7,
 6.0,
 7333.4,
 206.6,
 4.7,
 1699.2,
 41.5,
 63.8,
 40.0,
 38.7,
 190.1,
 27.1,
 19.1,
 9.3,
 4002.3,
 277.8,
 558.3,
 9.8,
 9.0,
 11.6,
 12.6,
 682.1,
 14.3,
 44.5,
 30.0,
 1124.4,
 6.3,
 492.1,
 37.3,
 3.9,
 62.4,
 30.3,
 12.8,
 89.1,
 13.2,
 23.9,
 59.1,
 32.2,
 7.1,
 38.1,
 84.3,
 354.0,
 7.2,
 1026.6,
 23.1,
 164.5,
 255.2,
 34.1,
 10.3,
 39.2,
 25.7,
 11.0,
 173.3,
 118.0,
 34.1,
 28.7,
 10.7,
 73.1,
 112.0,
 1080.6,
 34.4,
 517.0,
 17.4,
 7.3,
 2377.0,
 362.1,
 20.4,
 9.9,
 70.4,
 181.7,
 136.1,
 24.0,
 122.6,
 96.5,
 273.7,
 51.9,
 393.0,
 24.8,
 23.4,
 21.8,
 19.4,
 851.5,
 8.9,
 303.1,
 58.2,
 36.9,
 572.4,
 209.8,
 49.7,
 40.2,
 4.0,
 18.3,
 42.3,
 66.2,
 7267.1,
 1928.9,
 16.2,
 176.1,
 16.9,
 16.3,
 68.8,
 10.4,
 15.9,
 6.8,
 255.1,
 7.0,
 154.3,
 11.0,
 31.3,
 22.8,
 5.2,
 41.2,
 4.2,
 17.8,
 68.8,
 25.1,
 280.7,
 272.8,
 475.1,
 42.3,
 9.4,
 18.4,
 34.6,
 55.8,
 10.0,
 271.7,
 717.4,
 26.3,
 221.0,
 458.0,
 157.2,
 134.0,
 27.8,
 452.6,
 117.6,
 224.7,
 9.1,
 31.9,
 5.2,
 501.5,
 28.6,
 18.8,
 74.5,
 4.8,
 35.8,
 13.2,
 240.8,
 31.0,
 56.6,
 6.8,
 140.2,
 17.4,
 115.6,
 10.4,
 6.4,
 330.6,
 527.9,
 727.4,
 4.5,
 14.1,
 126.3,
 10.2,
 29.5,
 31.8,
 64.1,
 12.8,
 23.0,
 8.5,
 508.0,
 4.2,
 29.2,
 814.2,
 134.9,
 13.0,
 359.4,
 94.1,
 7.1,
 68.9,
 9.0,
 36.4,
 4277.5,
 25.4,
 266.7,
 12.2,
 8.7,
 144.5,
 146.3,
 15.5,
 8.3,
 18.3,
 11.4,
 39.6,
 5.6,
 19.2,
 1053.1,
 683.7,
 136.9,
 18.4,
 31.7,
 11.2,
 110.1,
 511.4,
 160.3,
 13.9,
 50.4,
 277.9,
 17.1,
 25.0,
 2.0,
 20.8,
 39.9,
 44.1,
 36.0,
 10.7,
 5677.2,
 61.9,
 3.8,
 298.2,
 13.1,
 23.3,
 21.5,
 89.0,
 96.0,
 130.2,
 653.8,
 24.0,
 944.5,
 162.6,
 6240.6,
 3.1,
 30.3,
 5.2,
 15.1,
 7.1,
 18.1,
 113.9,
 163.7,
 9.7,
 236.3,
 24.9,
 50.4,
 45.3,
 13.7,
 4.5,
 169.5,
 1.2,
 28.4,
 6.8,
 162.2,
 457.2,
 55.2,
 14.7,
 182.3,
 12.5,
 13.8,
 13.0,
 135.5,
 26.6,
 11.3,
 4946.7,
 49.3,
 8.4,
 65.4,
 115.9,
 4.8,
 44.1,
 17.2,
 66.3,
 2095.0,
 55.4,
 3.9,
 76.4,
 58.4,
 8.7,
 10.7,
 240.6,
 882.7,
 26.6,
 36.3,
 8.9,
 12519.4,
 33.2,
 12.5,
 22.0,
 314.8,
 16.1,
 33.7,
 5289.1,
 20.7,
 31.9,
 10.5,
 63.9,
 16.8,
 26.5,
 856.3,
 29.1,
 74.4,
 27.3,
 29.0,
 55.5,
 19.2,
 25.4,
 202.9,
 802.5,
 85.1,
 96.6,
 68.7,
 87.2,
 12.6,
 4.5,
 23.1,
 28.7,
 817.4,
 67.5,
 2.8,
 335.7,
 8.8,
 155.7,
 72.1,
 295.1,
 8.0,
 918.6,
 20.4,
 4.8,
 70.0,
 34.1,
 4.6,
 27.9,
 9.8,
 21.8,
 723.7,
 23.9,
 258.4,
 2733.4,
 21.8,
 11.6,
 182.4,
 91.8,
 42.2,
 8.5,
 2.3,
 1.9,
 25.8,
 43.7,
 33.8,
 42.7,
 66.3,
 14.4,
 6.9,
 31.9,
 14.5,
 268.9,
 54.4,
 31.6,
 139.0,
 20.6,
 32.1,
 19.8,
 8.1,
 372.8,
 1606.4,
 5210.3,
 5.7,
 29.8,
 60.1,
 4.2,
 66.7,
 64.7,
 29.3,
 57.6,
 29.5,
 4.2,
 7.0,
 322.6,
 22.1,
 130.6,
 4171.8,
 37.6,
 48.8,
 281.3,
 19.8,
 61.5,
 270.6,
 234.2,
 5.9,
 44.3,
 206.2,
 4.3,
 17.0,
 47.6,
 504.5,
 771.6,
 297.7,
 10.5,
 9.2,
 111.2,
 5.9,
 53.2,
 37.8,
 399.4,
 35.0,
 104.4,
 8.7,
 1571.3,
 24.4,
 ...]

In [57]:
upvotes_pred = np.array(upvotes_predictions_forest)

In [58]:
upvotes_pred

array([31.6, 21.3,  6. , ...,  9.5, 53.9, 23.7])